body{
    background: url("groot_bg.webp") center center no-repeat;
    background-size: cover;
    /* text-align: center; */
}

h1{
    color: white;
}

textarea, button{
    display: block;
    margin: 2rem;
    border-radius: 10px;
    text-align: center;
}

textarea{
    padding: 2rem;
    border: 4px solid purple;
    box-shadow: 
    0 0 5px #fff,
    0 0 11px #fff,
    0 0 22px rgb(140, 0, 255),
    0 0 42px rgb(174, 0, 255),
    0 0 82px rgb(225, 0, 255);
    background: rgb(241, 225, 247);
}

button{
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px #fff,
        0 0 11px rgb(255, 255, 255),
        0 0 22px rgb(0, 255, 42),
        0 0 42px rgb(43, 255, 0),
        0 0 82px rgb(0, 255, 34);
    background: rgb(7, 255, 28);
    border: 2px solid greenyellow;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}